In [206]:
import pandas as pd
import io
import requests
import pymysql
import pyodbc
from urllib.parse import quote_plus
from sqlalchemy import create_engine, event
import numpy as np
import pyodbc
import sodapy
from sodapy import Socrata
import math

In [136]:
#url="https://data.sfgov.org/resource/wr8u-xric.csv"
#s=requests.get(url).content
#df=pd.read_csv(io.StringIO(s.decode('utf-8')))

#df=pd.read_csv("https://data.sfgov.org/resource/wr8u-xric.csv", nrows = 999999)

#df.info()
for chunk in pd.read_csv("https://data.sfgov.org/resource/wr8u-xric.csv", nrows=10000, chunksize=10000):
     chunk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 64 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   incident_number                               1000 non-null   int64
 1   exposure_number                               1000 non-null   int64
 2   id                                            1000 non-null   int64
 3   address                                       1000 non-null   object
 4   incident_date                                 1000 non-null   object
 5   call_number                                   1000 non-null   int64
 6   alarm_dttm                                    1000 non-null   object
 7   arrival_dttm                                  1000 non-null   object
 8   close_dttm                                    1000 non-null   object
 9   city                                          1000 non-null   object
 10  zipcode                                       1000 non-null   int64
 11  battalion                                     1000 non-null   object
 12  station_area                                  1000 non-null   object
 13  box                                           11 non-null     float64
 14  suppression_units                             1000 non-null   int64
 15  suppression_personnel                         1000 non-null   int64
 16  ems_units                                     1000 non-null   int64
 17  ems_personnel                                 1000 non-null   int64
 18  other_units                                   1000 non-null   int64
 19  other_personnel                               1000 non-null   int64
 20  first_unit_on_scene                           879 non-null    object
 21  estimated_property_loss                       938 non-null    float64
 22  estimated_contents_loss                       939 non-null    float64
 23  fire_fatalities                               1000 non-null   int64
 24  fire_injuries                                 1000 non-null   int64
 25  civilian_fatalities                           1000 non-null   int64
 26  civilian_injuries                             1000 non-null   int64
 27  number_of_alarms                              1000 non-null   int64
 28  primary_situation                             1000 non-null   object
 29  mutual_aid                                    1000 non-null   object
 30  action_taken_primary                          1000 non-null   object
 31  action_taken_secondary                        1000 non-null   object
 32  action_taken_other                            1000 non-null   object
 33  detector_alerted_occupants                    1000 non-null   object
 34  property_use                                  1000 non-null   object
 35  area_of_fire_origin                           50 non-null     object
 36  ignition_cause                                50 non-null     object
 37  ignition_factor_primary                       50 non-null     object
 38  ignition_factor_secondary                     50 non-null     object
 39  heat_source                                   50 non-null     object
 40  item_first_ignited                            50 non-null     object
 41  human_factors_associated_with_ignition        50 non-null     object
 42  structure_type                                26 non-null     object
 43  structure_status                              26 non-null     object
 44  floor_of_fire_origin                          15 non-null     float64
 45  fire_spread                                   26 non-null     object
 46  no_flame_spead                                15 non-null     float64
 47  number_of_floors_with_minimum_damage          15 non-null     float64
 48  number_of_floors_with_significant_damage      15 non-null     float64
 49  number_of_floors_with_heavy_damage            15 non-null     float64
 50  number_of_floors_with_extreme_damage          15 non-null     float64
 51  detectors_present                             26 non-null     object
 52  detector_type                                 26 non-null     object
 53  detector_operation                            26 non-null     object
 54  detector_effectiveness                        26 non-null     object
 55  detector_failure_reason                       26 non-null     object
 56  automatic_extinguishing_system_present        26 non-null     object
 57  automatic_extinguishing_sytem_type            26 non-null     object
 58  automatic_extinguishing_sytem_perfomance      26 non-null     object
 59  automatic_extinguishing_sytem_failure_reason  26 non-null     object
 60  number_of_sprinkler_heads_operating           15 non-null     float64
 61  supervisor_district                           508 non-null    float64
 62  neighborhood_district                         1000 non-null   object
 63  point                                         1000 non-null   object
dtypes: float64(11), int64(16), object(37)
memory usage: 500.1+ KB

In [137]:
client = Socrata("data.sfgov.org", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("wr8u-xric", limit=500)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

results_df.info()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 64 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   incident_number                               500 non-null    object
 1   exposure_number                               500 non-null    object
 2   id                                            500 non-null    object
 3   address                                       500 non-null    object
 4   incident_date                                 500 non-null    object
 5   call_number                                   500 non-null    object
 6   alarm_dttm                                    500 non-null    object
 7   arrival_dttm                                  500 non-null    object
 8   close_dttm                                    500 non-null    object
 9   city                                          500 non-null    object
 10  zipcode                                       500 non-null    object
 11  battalion                                     500 non-null    object
 12  station_area                                  500 non-null    object
 13  suppression_units                             500 non-null    object
 14  suppression_personnel                         500 non-null    object
 15  ems_units                                     500 non-null    object
 16  ems_personnel                                 500 non-null    object
 17  other_units                                   500 non-null    object
 18  other_personnel                               500 non-null    object
 19  first_unit_on_scene                           450 non-null    object
 20  fire_fatalities                               500 non-null    object
 21  fire_injuries                                 500 non-null    object
 22  civilian_fatalities                           500 non-null    object
 23  civilian_injuries                             500 non-null    object
 24  number_of_alarms                              500 non-null    object
 25  primary_situation                             500 non-null    object
 26  mutual_aid                                    500 non-null    object
 27  action_taken_primary                          500 non-null    object
 28  action_taken_secondary                        500 non-null    object
 29  action_taken_other                            500 non-null    object
 30  detector_alerted_occupants                    500 non-null    object
 31  property_use                                  500 non-null    object
 32  supervisor_district                           243 non-null    object
 33  neighborhood_district                         500 non-null    object
 34  point                                         500 non-null    object
 35  estimated_contents_loss                       439 non-null    object
 36  area_of_fire_origin                           34 non-null     object
 37  ignition_cause                                34 non-null     object
 38  ignition_factor_primary                       34 non-null     object
 39  ignition_factor_secondary                     34 non-null     object
 40  heat_source                                   34 non-null     object
 41  item_first_ignited                            34 non-null     object
 42  human_factors_associated_with_ignition        34 non-null     object
 43  estimated_property_loss                       438 non-null    object
 44  structure_type                                22 non-null     object
 45  structure_status                              22 non-null     object
 46  floor_of_fire_origin                          12 non-null     object
 47  fire_spread                                   22 non-null     object
 48  no_flame_spead                                12 non-null     object
 49  number_of_floors_with_minimum_damage          12 non-null     object
 50  number_of_floors_with_significant_damage      12 non-null     object
 51  number_of_floors_with_heavy_damage            12 non-null     object
 52  number_of_floors_with_extreme_damage          12 non-null     object
 53  detectors_present                             22 non-null     object
 54  detector_type                                 22 non-null     object
 55  detector_operation                            22 non-null     object
 56  detector_effectiveness                        22 non-null     object
 57  detector_failure_reason                       22 non-null     object
 58  automatic_extinguishing_system_present        22 non-null     object
 59  automatic_extinguishing_sytem_type            22 non-null     object
 60  automatic_extinguishing_sytem_perfomance      22 non-null     object
 61  automatic_extinguishing_sytem_failure_reason  22 non-null     object
 62  number_of_sprinkler_heads_operating           12 non-null     object
 63  box                                           10 non-null     object
dtypes: object(64)
memory usage: 250.1+ KB

In [174]:
server = '<databasename>' 
database = 'datafactory_fire_poc' 
username = '<username>' 
password = '<password>' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [289]:
for i in results_df.index:
    
    ##Exposure Dimension
    ##print(results_df["address"][i])
    ##cursor.execute("SELECT * FROM dbo.Exposure WHERE exposureNumber = ?", results_df["point"][0])
    exposureId = upsert_exposure(results_df["exposure_number"][i])
    
    #Location Dimension
    locationId = upsert_location(results_df["address"][i], df["point"][i])
    #print(locationId)
    
    #Time Dimension
    idTime = upsert_time(results_df["incident_date"][i])
    #print(idTime)
    
    #City Dimension
    idCity = upsert_city(results_df["city"][i])
    
    #Station Dimension
    idStation = upsert_station(results_df["station_area"][i], results_df["battalion"][i])
    
    #Unit Dimension
    #idUnit = upsert_unit(results_df["station_area"][i], results_df["battalion"][i])
    
    #Situation Dimension
    situationSplitted = results_df["primary_situation"][i].split(' - ')
    #print(situationSplitted)
    idSituation = upsert_situation(situationSplitted[0], situationSplitted[1])
    
    #Action Dimension
    actionSplitted = results_df["action_taken_primary"][i].split(' - ')
    #print(actionSplitted)
    idAction = upsert_action(actionSplitted[0], actionSplitted[1])
    
    #Property Use Dimension
    propertyUseSplitted = results_df["property_use"][i].split(' - ')
    #print(actionSplitted)
    if len(propertyUseSplitted)>1:
        idPropertyUse = upsert_propertyuse(propertyUseSplitted[0], propertyUseSplitted[1])
        
    
    #Fire Area Dimension
    if pd.notnull(results_df["area_of_fire_origin"][i]):
        fireAreaSplitted = results_df["area_of_fire_origin"][i].split(' - ')
        #print(fireAreaSplitted)
        if len(fireAreaSplitted)>1:
            idFireArea= upsert_firearea(fireAreaSplitted[0], fireAreaSplitted[1])
    
    #District Dimension
    idDistrict = upsert_district(results_df["neighborhood_district"][i])
    
    #Fact Table
    upsert_facttable(results_df["incident_number"][i], results_df["id"][i], results_df["suppression_units"][i], results_df["suppression_personnel"][i], results_df["ems_units"][i], results_df["ems_personnel"][i], results_df["other_units"][i], results_df["other_personnel"][i], results_df["first_unit_on_scene"][i], results_df["estimated_property_loss"][i], results_df["estimated_contents_loss"][i], results_df["fire_fatalities"][i], results_df["fire_injuries"][i], results_df["civilian_fatalities"][i], results_df["civilian_injuries"][i], results_df["number_of_alarms"][i], results_df["mutual_aid"][i], results_df["floor_of_fire_origin"][i], results_df["number_of_floors_with_minimum_damage"][i], results_df["number_of_floors_with_significant_damage"][i], results_df["number_of_floors_with_heavy_damage"][i], results_df["number_of_floors_with_extreme_damage"][i], exposureId,locationId,idTime,idCity,idStation,idSituation,idAction,idPropertyUse,idFireArea,idDistrict)

8028304, 080283040
1
4
0
0
0
0
E11
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
2
83
1
1
1
1
1
2
1
8028303, 080283030
1
4
0
0
0
0
E37
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
3
83
1
2
2
2
2
2
2
8028309, 080283090
10
35
0
0
0
0
E01
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
4
83
1
3
3
1
3
2
3
8028314, 080283140
1
4
0
0
0
0
E36
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
5
83
1
4
4
3
4
2
4
8028319, 080283190
1
4
0
0
0
0
E14
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
6
83
1
5
5
4
2
2
5
8028337, 080283370
3
10
0
0
0
0
E12
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
8
83
1
6
6
1
4
2
6
8028329, 080283290
2
9
0
0
0
0
E01
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
9
83
1
3
7
1
5
2
7
8028350, 080283500
2
9
0
0
0
0
E32
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
10
83
1
7
7
1
2
2
1
8028355, 080283550
1
4
0
0
0
0
T08
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
11
83
1
8
4
1
5
2
7
8028352, 080283520
3
10
0
0
0
0
E22
nan
1
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
12
83
1
9
8
1
4
1
6
8028359, 080283590
3
10
0
0
0
0
E01
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
14
83
1
3
9
1
3
1
3
8028371, 080283710
1
4
0
0
0
0
E25
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
15
83
1
10
10
5
5
1
8
8028112, 080281120
3
11
0
0
0
0
E03
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
16
83
1
3
7
1
2
1
9
8028114, 080281140
1
4
0
0
0
0
E42
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
17
83
1
11
11
6
2
1
8
8028127, 080281270
1
4
0
0
0
0
E42
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
18
83
1
11
12
1
2
1
10
8028125, 080281250
1
3
0
0
0
0
AP
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
19
83
2
12
13
6
5
1
8
8028129, 080281290
3
10
0
0
0
0
E35
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
23
83
1
13
14
1
6
1
7
8028137, 080281370
1
4
0
0
0
0
E14
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
24
83
1
5
15
7
2
1
5
8028139, 080281390
4
12
0
0
0
0
E48
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
25
83
3
14
16
8
7
1
11
8028155, 080281550
1
4
0
0
0
0
E34
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
26
83
1
15
15
9
8
1
5
8028157, 080281570
3
9
3
5
0
0
E05
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
27
83
1
16
17
10
5
1
12
8028168, 080281680
3
10
0
0
0
0
E03
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
28
83
1
17
18
1
3
1
13
8028173, 080281730
1
4
0
0
0
0
E05
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
29
83
1
16
19
11
9
1
12
8028175, 080281750
1
4
1
2
0
0
E43
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
30
83
1
18
20
12
1
1
14
8028177, 080281770
3
11
0
0
0
0
E06
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
31
83
1
19
14
13
9
1
15
8028174, 080281740
2
9
0
0
0
0
E17
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
32
83
1
20
7
1
1
1
8
8028189, 080281890
3
1
0
0
0
0
E03
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
33
83
1
17
18
1
3
1
9
8028195, 080281950
2
9
0
0
0
0
E17
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
32
83
1
20
7
1
2
1
8
8028196, 080281960
2
8
1
2
0
0
E03
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
34
83
1
3
19
11
10
1
9
8028213, 080282130
3
11
0
0
0
0
E35
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
35
83
1
21
21
1
11
1
7
8028214, 080282140
1
5
0
0
0
0
T07
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
36
83
1
22
22
6
1
1
16
8028219, 080282190
1
4
0
0
0
0
E08
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
37
83
1
8
23
1
5
2
3
8028224, 080282240
1
4
0
0
0
0
E43
100
100
0
0
0
0
1
None
3
1
0
0
0
1
38
83
1
18
24
1
3
3
17
8028256, 080282560
1
4
0
0
0
0
E35
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
39
83
1
21
12
14
12
3
7
8028268, 080282680
3
8
0
0
0
0
T15
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
40
83
1
23
25
15
7
3
18
8028267, 080282670
1
4
0
0
0
0
E01
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
41
83
1
3
19
11
4
3
9
8028264, 080282640
3
11
0
0
0
0
E28
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
42
83
1
24
21
1
4
3
19
8028265, 080282650
1
4
0
0
0
0
E33
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
43
83
1
25
19
11
13
3
17
8028281, 080282810
1
4
0
0
0
0
E43
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
44
83
1
18
26
6
7
3
14
8028275, 080282750
1
5
0
0
0
0
T11
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
45
83
1
1
27
16
4
3
1
8028288, 080282880
2
9
0
0
0
0
E03
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
46
83
1
17
7
1
2
3
9
8028300, 080283000
1
4
0
0
0
0
E15
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
47
83
1
23
17
17
14
3
17
8028894, 080288940
1
5
0
0
0
0
T19
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
48
84
1
26
28
18
7
3
20
8028908, 080289080
3
10
0
0
0
0
E13
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
49
84
1
13
14
1
6
3
7
8028918, 080289180
1
4
1
2
0
0
E28
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
50
84
1
24
20
17
2
3
19
8028920, 080289200
2
9
0
0
0
0
E07
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
51
84
1
22
29
1
15
3
16
8028829, 080288290
3
11
0
0
0
0
E19
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
52
84
1
26
30
1
3
3
20
8028839, 080288390
1
4
0
0
0
0
E36
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
53
84
1
4
7
1
2
3
16
8028828, 080288280
3
10
0
0
0
0
E08
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
54
84
1
8
17
19
14
3
3
8028912, 080289120
3
11
0
0
0
0
E03
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
16
84
1
3
21
1
2
3
9
8028913, 080289130
3
7
0
0
0
0
RC3
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
55
84
1
22
17
19
16
3
16
8028900, 080289000
3
10
0
0
0
0
E10
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
56
84
1
27
31
1
7
3
21
8028852, 080288520
2
9
0
0
0
0
E01
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
57
84
1
3
7
1
2
3
9
8028843, 080288430
1
4
0
0
0
0
E33
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
58
84
1
23
29
20
1
3
17
8028847, 080288470
1
4
0
0
0
0
E35
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
59
84
1
21
15
9
1
2
19
8028926, 080289260
2
9
0
0
0
0
E07
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
55
84
1
22
29
1
4
2
16
8028882, 080288820
1
2
0
0
0
0
72
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
60
84
1
28
32
4
8
2
22
8028863, 080288630
2
9
0
0
0
0
E28
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
61
84
1
24
7
1
2
2
19
8028857, 080288570
1
4
0
0
0
0
E40
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
62
84
1
29
26
1
1
2
23
8028564, 080285640
5
15
0
0
0
0
E19
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
63
85
1
26
33
10
2
2
20
8028574, 080285740
2
5
0
0
0
0
AP
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
19
85
2
12
29
1
17
2
8
8028588, 080285880
1
4
0
0
0
0
E38
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
64
85
1
16
34
21
5
2
12
8028577, 080285770
3
11
0
0
0
0
E03
nan
nan
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
67
85
1
17
14
13
3
2
9
3000193, 030001930
2
9
0
0
0
0
E17
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
68
86
1
20
7
1
1
2
8
3000197, 030001970
1
5
0
0
0
0
T15
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
69
86
1
18
29
11
3
2
24
3000429, 030004290
3
11
0
0
0
0
E19
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
70
86
1
26
35
1
7
2
23
3000180, 030001800
3
12
0
0
0
0
E25
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
71
86
1
10
4
1
5
2
2
3000184, 030001840
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
72
86
1
17
7
1
2
2
9
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3006908, 030069080
2
9
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
73
87
1
25
7
1
1
2
25
3006914, 030069140
2
9
0
0
0
0
T17
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
74
87
1
11
7
1
2
2
10
3007151, 030071510
2
9
0
0
0
0
E02
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
75
88
1
30
7
1
2
2
26
3007160, 030071600
1
4
0
0
0
0
E29
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
76
88
1
31
10
20
2
2
16
3007167, 030071670
2
6
2
3
0
0
RC1
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
77
88
1
4
20
1
2
2
9
3007169, 030071690
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
78
88
1
19
21
1
18
2
15
3007719, 030077190
2
9
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
79
89
1
3
7
1
5
2
3
3007720, 030077200
8
24
0
0
0
0
E18
0
0
0
0
0
0
1
None
2
0
1
0
0
1
80
89
1
32
24
7
4
3
23
3007721, 030077210
1
5
0
0
0
0
T16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
81
89
1
33
36
15
7
3
27
3007722, 030077220
3
11
0
0
0
0
E42
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
82
89
1
11
37
1
19
3
14
3007724, 030077240
10
34
0
0
0
0
E02
0
0
0
0
0
0
1
None
1
1
0
0
0
1
83
89
1
30
24
7
7
4
13
3007725, 030077250
1
4
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
84
89
1
3
15
7
14
4
9
3007735, 030077350
2
9
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
85
89
1
4
7
1
1
4
3

3007737, 030077370
2
9
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
86
89
1
4
7
1
1
4
4
3007738, 030077380
1
4
0
0
0
0
E09
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
87
89
1
34
11
1
1
4
16
3007740, 030077400
3
11
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
88
89
1
17
38
1
20
4
13
3007741, 030077410
3
11
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
89
89
1
17
38
1
21
4
9
3007742, 030077420
2
9
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
90
89
1
3
7
1
1
4
3
3007747, 030077470
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
91
89
1
3
7
1
1
4
9
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007751, 030077510
2
9
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
92
89
1
4
7
1
1
4
4
3008177, 030081770
1
4
0
0
0
0
T18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
93
90
1
29
10
6
22
4
18
3008178, 030081780
1
4
0
0
0
0
E29
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
94
90
1
31
39
7
2
5
2
3008183, 030081830
3
11
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
95
90
1
31
40
1
23
5
16
3008185, 030081850
2
9
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
96
90
1
3
6
1
21
5
7
3008188, 030081880
2
9
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
97
90
1
21
14
1
3
5
7
3008189, 030081890
0
0
3
11
0
0
E02
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
98
90
1
21
41
1
6
5
7
3008385, 030083850
1
4
0
0
0
0
E18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
99
90
1
32
19
19
7
5
23
3008389, 030083890
1
1
1
1
1
1
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
100
90
1
22
21
1
1
5
16
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3008396, 030083960
1
4
0
0
0
0
E18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
101
90
1
32
10
22
7
5
23
3008191, 030081910
3
11
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
102
90
1
21
42
1
3
5
7
3008193, 030081930
3
11
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
103
90
1
16
6
1
3
5
12
3008196, 030081960
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
104
90
1
3
43
1
8
5
3
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3008916, 030089160
2
10
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
105
91
1
17
7
1
2
5
9
3008919, 030089190
3
11
0
0
0
0
E41
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
106
91
1
35
21
3
3
5
13
3008921, 030089210
2
9
0
0
0
0
E44
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
107
91
1
36
7
1
1
5
28
3008720, 030087200
1
4
0
0
0
0
E22
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
108
91
1
9
22
1
5
5
6
3008722, 030087220
1
5
0
0
0
0
T07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
109
91
1
22
10
4
24
5
16
3008922, 030089220
1
4
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
110
91
1
4
44
7
2
5
9
3008923, 030089230
1
4
0
0
0
0
E14
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
111
91
1
5
45
9
8
5
5
3008925, 030089250
1
4
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
112
91
1
25
46
23
1
5
25
3008930, 030089300
3
9
0
0
0
0
B10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
113
91
1
34
47
7
25
6
1
3008932, 030089320
2
9
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
114
91
1
22
7
1
1
6
16
3008934, 030089340
2
10
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
115
91
1
16
7
1
2
6
12
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3008937, 030089370
2
9
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
116
91
1
21
7
1
5
6
19
3008730, 030087300
3
11
1
2
0
0
E23
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
117
91
1
37
17
10
1
6
23
3008731, 030087310
2
9
0
0
0
0
E12
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
118
91
1
6
5
1
3
6
6
3002370, 030023700
3
11
0
0
0
0
B01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
119
92
1
24
21
1
8
6
19
3002427, 030024270
5
20
2
3
0
0
RC4
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
19
92
2
36
37
1
26
6
8
3005594, 030055940
2
9
0
0
0
0
T13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
120
93
1
21
40
1
6
6
7
3000798, 030007980
1
4
0
0
0
0
E10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
121
94
1
27
13
24
5
6
21
3003583, 030035830
3
11
0
0
0
0
E35
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
122
95
1
13
22
13
27
6
7
3000595, 030005950
1
4
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
123
96
1
3
7
1
2
6
3
3000599, 030005990
3
11
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
124
96
1
21
38
1
6
6
26
3000609, 030006090
2
9
0
0
1
2
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
125
96
1
38
30
1
3
6
29
3000619, 030006190
2
6
0
0
0
0
E10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
126
96
1
27
17
1
1
6
30
3000620, 030006200
1
5
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
127
96
1
3
7
1
1
6
9
3000626, 030006260
2
9
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
128
96
1
39
7
1
1
6
31
3001077, 030010770
1
4
0
0
0
0
E42
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
129
97
1
11
7
1
2
6
10
3001089, 030010890
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
130
97
1
19
7
1
1
6
15
3001340, 030013400
2
9
0
0
0
0
E35
0
0
0
0
0
0
1
None
2
1
0
0
0
1
131
97
1
13
24
1
3
1
7
3001348, 030013480
1
4
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
132
97
1
4
45
7
5
1
4
3001350, 030013500
1
4
0
0
0
0
E12
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
133
97
1
6
11
25
2
1
31
3001098, 030010980
2
9
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
134
97
1
4
7
1
2
1
4
3001100, 030011000
2
5
0
0
0
0
E02
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
135
97
1
30
21
1
2
1
13
3001833, 030018330
1
5
0
0
0
0
T11
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
136
98
1
1
4
26
7
1
16
3001834, 030018340
3
11
0
0
0
0
T13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
137
98
1
13
18
1
6
1
7
3001840, 030018400
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
138
98
1
19
29
1
1
1
15
3001842, 030018420
3
11
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
139
98
1
3
1
3
18
1
7
3001843, 030018430
3
11
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
140
98
1
39
37
1
3
1
30
3002075, 030020750
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
141
99
1
3
7
1
5
1
7
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3002076, 030020760
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
91
99
1
3
21
1
1
1
9
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3002078, 030020780
3
11
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
142
99
1
22
41
13
3
1
16
3002081, 030020810
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
143
99
1
40
32
27
28
1
32
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3002085, 030020850
1
4
1
2
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
144
99
1
16
33
1
1
1
4
3002086, 030020860
1
5
0
0
0
0
T03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
145
99
1
17
48
1
2
1
9
3002095, 030020950
1
4
1
2
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
146
99
1
16
20
1
1
1
33
3002558, 030025580
1
4
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
147
100
1
4
5
3
2
1
3
3002560, 030025600
3
11
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
148
100
1
3
41
1
6
1
3
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3002565, 030025650
3
11
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
149
100
1
16
41
1
3
1
12
3002789, 030027890
3
9
0
0
0
0
E19
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
52
100
1
26
30
1
3
1
20
3002795, 030027950
3
11
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
150
100
1
33
49
3
3
1
27
3002574, 030025740
1
4
0
0
0
0
E23
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
151
100
1
37
4
1
7
1
23
3002576, 030025760
3
11
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
152
100
1
3
41
8
6
1
13
3002581, 030025810
1
4
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
153
100
1
33
50
1
7
1
27
3002587, 030025870
1
4
0
0
0
0
E09
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
154
100
1
2
18
1
19
1
2
3003336, 030033360
1
5
0
0
0
0
E31
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
155
101
1
41
49
3
3
1
34
3003339, 030033390
2
9
0
0
0
0
E14
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
156
101
1
41
1
1
7
1
34
3003100, 030031000
1
4
0
0
0
0
E19
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
157
101
1
26
45
9
1
1
23
3003107, 030031070
2
9
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
158
101
1
17
15
1
1
1
9
3003110, 030031100
1
4
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
159
101
1
35
45
1
21
1
13
3003345, 030033450
1
4
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
160
101
1
4
7
1
2
1
3

3003820, 030038200
1
4
0
0
0
0
T02
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
161
102
1
21
51
7
1
7
19
3003851, 030038510
1
4
0
0
0
0
E42
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
162
102
1
11
1
6
1
7
10
3003835, 030038350
1
4
0
0
0
0
E19
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
163
102
1
26
4
1
29
7
23
3003836, 030038360
1
4
0
0
0
0
E20
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
164
102
1
42
48
26
8
7
18
3003839, 030038390
1
4
0
0
0
0
E40
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
165
102
1
29
7
1
2
7
18
3003840, 030038400
8
30
1
2
0
0
E12
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
166
102
1
6
8
7
3
7
31
3003842, 030038420
2
9
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
167
102
1
21
7
1
5
7
7
3003846, 030038460
2
9
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
168
102
1
21
14
1
6
7
7
3003875, 030038750
3
11
0
0
0
0
E28
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
169
102
1
24
38
1
15
7
19
3003877, 030038770
1
4
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
170
102
1
33
19
1
3
7
27
3003884, 030038840
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
171
102
1
16
52
1
1
7
12
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3003886, 030038860
1
4
0
0
0
0
E32
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
172
102
1
7
7
1
1
7
1
3004362, 030043620
1
4
0
0
0
0
E25
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
173
103
1
10
26
28
30
7
8
3004375, 030043750
2
6
0
0
0
0
E25
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
174
103
1
10
20
12
1
7
8
3004379, 030043790
3
11
0
0
0
0
E39
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
175
103
1
43
38
1
31
7
18
3004384, 030043840
1
4
0
0
0
0
E23
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
176
103
1
37
44
1
1
7
23
3004388, 030043880
2
9
0
0
0
0
E29
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
177
103
1
31
7
1
2
7
3
3004391, 030043910
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
178
103
1
39
19
11
7
7
30
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3004392, 030043920
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
179
103
1
38
7
1
8
7
29
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3005105, 030051050
1
4
0
0
0
0
E43
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
180
104
1
18
39
7
1
5
28
3005327, 030053270
1
4
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
181
104
1
25
44
1
1
5
25
3005331, 030053310
1
4
0
0
0
0
E37
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
182
104
1
2
44
7
7
5
2
3005337, 030053370
3
11
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
183
104
1
38
38
1
3
5
29
3005340, 030053400
2
9
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
184
104
1
16
7
1
1
5
12
3005344, 030053440
1
4
0
0
0
0
E35
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
185
104
1
13
48
1
2
5
7
3005657, 030056570
3
11
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
186
105
1
38
21
1
7
5
29
3005663, 030056630
1
4
0
0
0
0
E10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
187
105
1
27
40
1
7
5
30
3005667, 030056670
1
4
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
188
105
1
39
41
1
3
5
30
3005670, 030056700
5
19
2
3
0
0
B06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
189
105
1
34
8
15
3
1
16
3005671, 030056710
3
11
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
190
105
1
21
8
1
8
1
7
3005672, 030056720
1
4
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
191
105
1
17
7
1
2
1
9
3005681, 030056810
1
4
0
0
0
0
E42
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
192
105
1
36
21
1
1
1
28
3005682, 030056820
2
9
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
193
105
1
21
7
1
5
1
7
3005685, 030056850
5
19
1
2
0
0
E42
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
194
105
1
11
8
1
7
1
10
3005689, 030056890
3
11
0
0
0
0
E14
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
195
105
1
5
14
1
7
1
35
3005690, 030056900
1
4
0
0
0
0
E43
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
196
105
1
18
36
4
24
1
28
3006212, 030062120
1
5
0
0
0
0
T10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
197
106
1
27
28
15
24
1
33
3006409, 030064090
1
5
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
114
106
1
22
7
3
21
1
16
3006220, 030062200
1
4
0
0
0
0
E11
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
198
106
1
1
5
8
1
1
16
3006219, 030062190
2
9
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
199
106
1
33
14
1
3
1
29
3006228, 030062280
5
20
0
0
0
0
T18
0
0
0
0
0
0
1
None
1
0
1
0
0
1
200
106
1
32
24
9
7
8
23
3006417, 030064170
3
11
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
201
106
1
33
38
1
3
8
27
3006420, 030064200
3
11
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
202
106
1
4
53
13
3
8
3
3006230, 030062300
1
4
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
203
106
1
3
7
1
1
8
7
3007175, 030071750
3
9
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
204
88
1
19
6
1
3
8
15
3007176, 030071760
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
112
88
1
25
21
1
5
8
25
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007177, 030071770
1
4
0
0
0
0
E44
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
205
88
1
36
48
19
2
8
8
3007181, 030071810
3
11
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
206
88
1
30
41
1
3
8
26
3007186, 030071860
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
207
88
1
25
7
1
5
8
25
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007187, 030071870
1
4
0
0
0
0
E35
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
208
88
1
13
13
1
12
8
36
3007190, 030071900
2
9
0
0
0
0
E15
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
209
88
1
23
46
1
2
8
18
3007191, 030071910
3
11
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
210
88
1
19
8
29
3
8
16
3007198, 030071980
1
4
0
0
0
0
E08
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
211
88
1
8
7
1
1
8
36
3007199, 030071990
1
4
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
212
88
1
22
5
1
32
8
16
3007205, 030072050
11
36
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
213
88
1
38
54
1
1
8
29
3006992, 030069920
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
214
88
1
31
7
1
1
8
2
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3006994, 030069940
1
4
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
215
88
1
17
45
9
1
8
9
3007752, 030077520
1
4
0
0
0
0
E44
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
216
89
1
36
19
16
7
8
28
3007754, 030077540
2
9
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
16
89
1
3
7
1
5
8
9
3007759, 030077590
5
19
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
217
89
1
21
55
1
5
8
7
3007548, 030075480
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
218
89
1
4
21
1
5
8
16
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007551, 030075510
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
219
89
1
10
7
1
2
8
8
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007554, 030075540
3
11
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
220
89
1
3
38
1
6
8
3
3007763, 030077630
3
11
0
0
0
0
E17
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
221
89
1
20
21
1
24
8
8
3008205, 030082050
3
12
0
0
0
0
E25
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
222
90
1
34
18
1
8
8
8
3008208, 030082080
1
4
0
0
0
0
E19
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
223
90
1
26
4
3
1
8
23
3008209, 030082090
1
4
0
0
0
0
E08
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
224
90
1
31
4
27
2
8
36
3008210, 030082100
2
9
0
0
1
2
E39
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
225
90
1
26
14
1
2
8
23
3008211, 030082110
1
5
0
0
0
0
T15
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
226
90
1
23
36
15
7
8
18
3008222, 030082220
1
5
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
227
90
1
3
56
1
3
8
7
3008230, 030082300
1
5
0
0
0
0
T02
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
228
90
1
24
19
11
1
8
26
3008234, 030082340
3
11
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
229
90
1
33
20
11
7
8
29
3008733, 030087330
3
11
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
230
91
1
4
6
1
3
8
16
3008739, 030087390
1
4
0
0
0
0
E12
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
231
91
1
6
18
1
33
8
6
3008945, 030089450
1
4
0
0
0
0
E29
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
232
91
1
31
21
1
2
8
2
3008947, 030089470
1
4
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
233
91
1
22
10
6
1
8
16
3008950, 030089500
2
10
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
234
91
1
16
7
1
7
8
12
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3008951, 030089510
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
235
91
1
33
36
26
7
8
29
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3008956, 030089560
2
9
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
236
91
1
17
21
1
1
8
12
3008745, 030087450
1
4
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
237
91
1
27
57
1
3
8
21
3008747, 030087470
2
9
0
0
0
0
E12
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
238
91
1
6
41
1
3
8
6
3008752, 030087520
1
4
0
0
0
0
E32
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
239
91
1
1
4
1
1
8
22
3000212, 030002120
1
4
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
240
86
1
17
20
11
10
8
9
3000215, 030002150
2
9
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
241
86
1
4
46
1
5
8
16
3000224, 030002240
1
4
0
0
0
0
E22
0
0
0
0
0
0
1
None
2
1
0
0
0
1
242
86
1
9
8
1
3
1
6
3000003, 030000030
1
4
0
0
0
0
E02
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
243
86
1
30
7
1
1
1
13
3000006, 030000060
0
0
1
2
0
0
91
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
244
86
1
21
58
12
7
1
7
3000007, 030000070
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
245
86
1
8
21
14
2
1
3
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3000014, 030000140
1
4
0
0
0
0
E18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
246
86
1
32
7
1
1
1
23
3000016, 030000160
3
11
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
202
86
1
4
46
1
34
1
3
3000233, 030002330
1
4
0
0
0
0
E31
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
247
86
1
41
29
1
2
1
34
3000554, 030005540
1
4
0
0
0
0
E19
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
248
96
1
26
11
28
35
1
20
3000556, 030005560
1
4
0
0
0
0
E28
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
249
96
1
24
7
30
2
1
19
3000560, 030005600
1
5
0
0
0
0
T01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
250
96
1
3
27
16
2
1
9
3000561, 030005610
1
4
0
0
0
0
E40
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
251
96
1
29
11
1
1
1
23
3000567, 030005670
3
11
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
252
96
1
17
50
13
36
1
9
3000578, 030005780
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
253
96
1
33
7
1
5
1
27
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3001105, 030011050
1
5
0
0
0
0
T16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
254
97
1
33
36
22
3
1
37
3001110, 030011100
1
4
0
0
0
0
E25
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
255
97
1
10
15
7
1
1
8
3001111, 030011110
1
4
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
256
97
1
3
56
17
2
1
9
3001112, 030011120
1
4
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
257
97
1
25
4
3
7
1
25
3001116, 030011160
1
4
0
0
0
0
RC4
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
258
97
1
18
59
1
1
1
14
3001119, 030011190
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
218
97
1
4
7
1
2
1
16
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3001120, 030011200
1
4
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
259
97
1
17
7
1
2
1
9
3001124, 030011240
1
5
0
0
0
0
T09
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
260
97
1
10
4
31
4
1
8
3001139, 030011390
3
11
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
261
97
1
19
50
1
7
1
15
3001389, 030013890
3
11
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
262
107
1
3
38
13
3
1
3
3002100, 030021000
1
4
0
0
0
0
E11
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
263
99
1
1
20
1
20
1
22
3002106, 030021060
1
4
0
0
0
0
E18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
264
99
1
32
19
11
7
1
23
3002112, 030021120
1
4
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
265
99
1
16
45
1
2
1
12
3002119, 030021190
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
266
99
1
9
10
32
24
1
6
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3002597, 030025970
1
4
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
267
100
1
39
7
1
1
1
31
3002602, 030026020
1
4
0
0
0
0
E44
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
268
100
1
20
41
1
6
1
8
3002613, 030026130
1
5
0
0
0
0
T09
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
269
100
1
34
43
1
1
1
16
3002617, 030026170
3
9
0
0
0
0
E29
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
270
100
1
31
60
1
11
1
16
3002620, 030026200
1
4
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
271
100
1
25
20
10
7
1
25
3002621, 030026210
1
4
0
0
0
0
T01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
272
100
1
3
5
1
10
1
9
3002622, 030026220
1
2
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
273
100
1
19
18
1
36
1
16
3002624, 030026240
1
5
0
0
0
0
T11
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
274
100
1
7
4
26
7
1
1
3002625, 030026250
3
11
0
0
0
0
E22
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
275
100
1
6
38
1
31
1
6
3003351, 030033510
1
4
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
276
101
1
25
29
5
10
1
25
3003359, 030033590
3
11
0
0
0
0
E14
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
277
101
1
5
21
1
8
1
5
3003116, 030031160
3
11
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
278
101
1
33
18
1
3
1
27
3003118, 030031180
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
279
101
1
3
7
1
5
1
7
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3003121, 030031210
2
9
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
280
101
1
22
21
1
1
1
15
3003123, 030031230
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
281
101
1
7
7
1
1
1
1
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3003124, 030031240
1
4
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
282
101
1
25
19
26
7
1
17
3003129, 030031290
1
4
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
283
101
1
38
36
1
3
1
29
3003360, 030033600
5
21
1
2
4
10
E16
0
0
0
0
0
0
1
None
1
1
0
0
0
1
284
101
1
33
24
7
18
1
27
3003136, 030031360
3
11
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
285
101
1
3
14
1
36
1
3
3003862, 030038620
3
11
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
286
102
1
22
50
1
3
1
16
3003864, 030038640
2
9
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
287
102
1
21
14
1
21
1
26
3003866, 030038660
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
288
102
1
34
21
1
1
1
28
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3003868, 030038680
1
5
0
0
0
0
T18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
289
102
1
32
28
1
7
1
23
3003870, 030038700
1
4
0
0
0
0
E39
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
290
102
1
43
18
1
7
1
18
3003905, 030039050
3
11
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
291
102
1
3
14
1
10
1
3
3003907, 030039070
2
9
0
0
0
0
E28
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
292
102
1
24
7
1
2
1
19
3003908, 030039080
2
9
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
287
102
1
21
6
1
6
1
26
3003911, 030039110
2
9
0
0
0
0
E14
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
293
102
1
5
18
1
7
1
5
3003915, 030039150
1
4
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
294
102
1
33
11
1
1
1
27
3003890, 030038900
3
11
0
0
0
0
E11
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
295
102
1
1
7
1
1
1
16
3004400, 030044000
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
296
103
1
19
14
1
7
1
15
3004403, 030044030
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
297
103
1
35
7
1
1
1
37
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3004406, 030044060
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
298
103
1
36
7
1
2
1
8
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3004408, 030044080
1
4
0
0
0
0
E43
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
299
103
1
23
4
4
7
1
17
3004421, 030044210
2
9
0
0
0
0
E41
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
300
103
1
35
7
1
8
1
13
3004422, 030044220
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
301
103
1
38
7
1
1
1
29
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3004424, 030044240
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
302
103
1
29
7
1
2
1
23
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3004650, 030046500
3
11
0
0
0
0
E31
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
303
108
1
41
14
1
7
1
35
3004657, 030046570
1
4
0
0
0
0
E44
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
304
108
1
36
51
1
1
9
10
3005114, 030051140
1
4
0
0
0
0
T06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
305
104
1
4
7
22
2
9
4
3005348, 030053480
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
306
104
1
35
7
1
2
9
13
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3005350, 030053500
1
4
0
0
0
0
E17
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
307
104
1
20
44
7
1
9
8
3005351, 030053510
1
5
0
0
0
0
T13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
308
104
1
21
61
16
6
9
7
3005354, 030053540
1
4
0
0
0
0
E18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
309
104
1
32
26
1
1
9
23
3005355, 030053550
3
11
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
183
104
1
38
38
1
3
9
29
3005357, 030053570
2
4
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
310
104
1
33
40
1
7
9
27
3005359, 030053590
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
311
104
1
19
44
1
1
9
4
3005126, 030051260
3
11
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
312
104
1
3
8
1
4
9
3
3005131, 030051310
7
26
0
0
0
0
E14
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
313
104
1
5
38
1
3
9
5
3005133, 030051330
1
5
0
0
0
0
T03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
314
104
1
35
10
5
18
9
13
3005693, 030056930
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
315
105
1
25
21
1
24
9
25
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3005702, 030057020
2
9
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
141
105
1
3
46
1
37
9
7
3005704, 030057040
1
4
0
0
0
0
E12
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
316
105
1
6
41
1
31
9
6
3005716, 030057160
1
4
0
0
0
0
E31
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
317
105
1
41
21
1
38
9
38
3005717, 030057170
2
9
0
0
1
2
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
318
105
1
38
30
1
31
9
29
3005730, 030057300
2
9
0
0
1
2
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
319
105
1
38
30
1
3
9
29
3006238, 030062380
1
4
0
0
0
0
E18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
320
106
1
37
19
17
7
9
23
3006243, 030062430
2
9
0
0
0
0
T07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
321
106
1
34
7
1
1
9
16
3006248, 030062480
3
11
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
322
106
1
3
40
1
3
9
9
3006253, 030062530
2
9
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
241
106
1
4
46
1
2
9
16
3006254, 030062540
2
9
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
241
106
1
4
46
1
2
9
16
3006256, 030062560
2
9
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
323
106
1
22
7
1
1
9
16
3006259, 030062590
1
4
0
0
0
0
E18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
324
106
1
32
62
6
1
9
23
3006260, 030062600
3
11
0
0
0
0
E43
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
325
106
1
36
21
1
3
9
24
3006262, 030062620
1
5
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
326
106
1
23
36
1
7
9
18
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3006484, 030064840
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
327
109
1
29
19
26
1
9
6
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007217, 030072170
1
4
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
328
88
1
39
7
1
2
9
31
3007220, 030072200
1
4
0
0
0
0
E44
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
329
88
1
36
26
6
7
9
28
3007001, 030070010
3
12
0
0
0
0
E17
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
330
88
1
20
7
1
8
9
8
3007005, 030070050
1
4
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
331
88
1
39
7
1
1
9
30
3007011, 030070110
2
9
0
0
0
0
E29
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
332
88
1
31
7
1
2
9
16
3007012, 030070120
2
9
0
0
0
0
E11
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
333
88
1
1
7
1
2
9
1
3007015, 030070150
2
8
1
2
0
0
E20
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
334
88
1
42
20
5
7
9
39
3007016, 030070160
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
55
88
1
22
7
1
1
9
16
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007783, 030077830
1
5
0
0
0
0
T05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
335
89
1
4
29
1
39
9
4
3007785, 030077850
1
4
0
0
0
0
E42
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
336
89
1
11
20
17
20
9
8
3007786, 030077860
1
4
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
337
89
1
39
7
1
1
9
30
3007788, 030077880
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
336
89
1
11
20
17
20
9
8
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007787, 030077870
11
33
0
0
0
0
E24
0
0
0
0
0
0
1
None
2
1
0
0
0
1
338
89
1
28
63
7
7
4
22
3007792, 030077920
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
79
89
1
3
7
1
5
4
3
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007586, 030075860
2
9
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
339
89
1
22
38
1
40
4
16
3007589, 030075890
1
2
0
0
0
0
B03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
340
89
1
8
38
1
6
4
7
3007593, 030075930
2
9
0
0
1
2
T05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
341
89
1
16
6
13
3
4
12
3007595, 030075950
1
4
0
0
0
0
E17
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
342
89
1
20
44
7
1
4
8
3007598, 030075980
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
343
89
1
3
7
1
1
4
3
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3008238, 030082380
1
4
0
0
0
0
E32
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
344
90
1
7
20
33
2
4
1
3008241, 030082410
2
9
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
345
90
1
4
38
1
33
4
9
3008244, 030082440
1
4
0
0
0
0
T18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
346
90
1
32
36
15
4
4
23
3008249, 030082490
2
9
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
347
90
1
25
6
1
3
4
25
3008250, 030082500
1
4
0
0
0
0
E18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
348
90
1
32
15
7
2
4
23
3008251, 030082510
1
4
0
0
0
0
T02
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
135
90
1
30
61
1
11
4
13
3008255, 030082550
3
11
0
0
0
0
E10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
237
90
1
27
41
1
31
4
21
3008256, 030082560
3
12
0
0
0
0
E43
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
349
90
1
18
21
1
8
4
28
3008258, 030082580
2
9
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
350
90
1
17
18
1
33
4
9
3008265, 030082650
3
11
0
0
0
0
E37
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
351
90
1
31
64
1
5
4
2
3008269, 030082690
1
4
0
0
0
0
E02
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
352
90
1
24
65
1
41
4
19
3008271, 030082710
1
4
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
353
90
1
25
13
1
1
4
17
3008761, 030087610
1
4
0
0
0
0
E10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
354
91
1
27
19
5
20
4
21
3008762, 030087620
1
4
0
0
0
0
E08
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
355
91
1
3
44
1
1
4
7
3008766, 030087660
2
9
0
0
0
0
E08
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
203
91
1
3
7
1
5
4
7
3008771, 030087710
2
9
0
0
0
0
E25
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
356
91
1
10
7
1
2
4
8
3008774, 030087740
3
11
0
0
0
0
B07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
357
91
1
41
38
1
19
4
5
3008217, 030082170
2
9
0
0
0
0
T15
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
358
90
1
43
40
1
7
4
18
3007050, 030070500
2
9
0
0
0
0
T03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
259
88
1
17
7
1
8
4
9
3008552, 030085520
1
4
0
0
0
0
T09
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
359
110
1
34
14
1
6
4
8
3000264, 030002640
3
12
0
0
0
0
E37
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
360
86
1
2
7
1
8
4
2
3000270, 030002700
3
11
0
0
0
0
E10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
361
86
1
27
41
1
6
4
21
3000021, 030000210
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
362
86
1
13
7
1
2
4
7
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3000020, 030000200
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
141
86
1
3
7
1
5
4
7
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3000025, 030000250
3
11
0
0
0
0
E29
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
363
86
1
31
38
1
6
4
36
3000026, 030000260
2
9
0
0
0
0
E44
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
364
86
1
13
7
1
5
4
7
3000272, 030002720
3
11
0
0
0
0
B04
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
365
86
1
27
41
1
31
4
21
3000273, 030002730
1
4
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
366
86
1
16
7
1
1
4
12
3000274, 030002740
2
9
0
0
0
0
E32
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
367
86
1
26
21
1
2
4
18
3000276, 030002760
3
11
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
368
86
1
38
18
1
3
4
29
3000280, 030002800
1
4
0
0
0
0
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
369
86
1
33
66
6
1
4
27
3000630, 030006300
1
4
0
0
0
0
T19
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
248
96
1
26
7
1
1
4
20
3000886, 030008860
1
5
0
0
0
0
T13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
370
94
1
21
61
34
6
4
26

3000887, 030008870
3
11
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
371
94
1
21
14
31
6
4
7
3000890, 030008900
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
372
94
1
2
7
1
2
4
2
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3000897, 030008970
2
11
0
0
0
0
E09
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
373
94
1
34
7
1
2
4
2
3000898, 030008980
2
9
0
0
0
0
E25
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
374
94
1
10
7
1
1
4
8
3000903, 030009030
3
11
0
0
0
0
E22
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
375
94
1
9
7
1
2
4
38
3001392, 030013920
1
3
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
376
107
1
38
21
1
3
4
29
3001394, 030013940
1
4
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
218
107
1
4
14
1
5
4
16
3001399, 030013990
3
11
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
377
107
1
3
38
1
6
4
7
3001400, 030014000
2
6
0
0
0
0
E17
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
378
107
1
20
44
1
1
4
8
3001631, 030016310
3
11
2
3
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
379
107
1
16
17
19
5
4
12
3001633, 030016330
2
9
0
0
0
0
E35
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
380
107
1
13
7
1
42
4
7
3001634, 030016340
1
4
1
2
1
1
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
381
107
1
39
5
1
13
4
12
3001637, 030016370
3
11
0
0
0
0
E26
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
382
107
1
40
8
1
3
4
32
3001639, 030016390
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
383
107
1
19
21
1
5
4
16
3001643, 030016430
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
384
107
1
19
15
4
1
4
16
3001405, 030014050
3
11
0
0
0
0
E08
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
385
107
1
8
41
1
22
4
7
3001929, 030019290
1
4
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
386
99
1
38
15
7
8
4
29
3001931, 030019310
1
4
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
387
99
1
22
7
1
2
4
16
3001932, 030019320
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
388
99
1
22
44
7
1
4
16
3002138, 030021380
3
11
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
389
99
1
3
14
1
3
4
3
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3002140, 030021400
2
6
2
3
0
0
E08
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
390
99
1
8
20
10
40
4
3
3002145, 030021450
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
391
99
1
27
7
1
2
4
33
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3001935, 030019350
3
11
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
392
99
1
21
41
1
6
4
7
3001938, 030019380
1
1
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
393
99
1
16
7
1
2
4
33
3001940, 030019400
1
4
0
0
0
0
T01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
394
99
1
31
29
28
43
4
3
3001941, 030019410
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
395
99
1
19
44
1
1
4
16
3001942, 030019420
7
30
0
0
0
0
E33
0
0
0
0
0
0
1
None
2
1
0
0
0
1
396
99
1
25
24
9
7
10
25
3001945, 030019450
1
4
0
0
0
0
E44
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
397
99
1
36
46
1
2
10
28
3001947, 030019470
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
398
99
1
19
44
1
1
10
15
3002153, 030021530
1
4
0
0
0
0
E44
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
399
99
1
36
12
7
30
11
28
3002632, 030026320
1
4
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
400
100
1
6
29
5
1
11
31
3002633, 030026330
3
9
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
273
100
1
19
60
1
3
11
16
3002636, 030026360
3
11
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
401
100
1
17
41
1
3
11
9
3002644, 030026440
3
11
0
0
0
0
E21
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
402
100
1
39
38
1
3
11
31
3002651, 030026510
1
5
0
0
0
0
T07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
403
100
1
2
19
5
1
11
2
3002660, 030026600
3
11
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
404
100
1
35
21
1
3
11
13
3002661, 030026610
3
11
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
405
100
1
16
38
1
31
11
12
3002667, 030026670
1
4
0
0
0
0
E20
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
406
100
1
28
7
1
2
11
15
3003139, 030031390
1
4
0
0
0
0
E40
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
407
101
1
43
19
11
7
11
18
3003143, 030031430
1
4
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
408
101
1
4
67
1
24
11
3
3003155, 030031550
2
9
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
409
101
1
22
7
1
2
11
16
3003895, 030038950
1
4
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
410
102
1
22
45
7
5
11
16
3003896, 030038960
5
17
3
5
0
0
B04
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
411
102
1
38
68
34
31
11
29
3003904, 030039040
2
9
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
412
102
1
3
7
1
5
11
7
3003938, 030039380
3
12
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
413
102
1
21
38
1
6
11
7
3003939, 030039390
1
4
0
0
0
0
E33
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
414
102
1
25
12
7
30
11
25
3003925, 030039250
1
4
0
0
0
0
E29
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
415
102
1
31
44
9
1
11
3
3003927, 030039270
1
4
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
416
102
1
3
15
7
2
11
3
3003930, 030039300
1
4
0
0
0
0
E42
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
417
102
1
11
39
7
1
5
24
3004665, 030046650
1
4
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
418
108
1
22
69
1
3
5
16
3004669, 030046690
1
5
0
0
0
0
T18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
419
108
1
32
28
15
7
5
23
3004672, 030046720
2
6
1
2
0
0
E08
1500
300
0
0
0
0
1
None
15
1
0
0
0
1
420
108
1
3
24
1
3
1
3
3004674, 030046740
1
3
0
0
0
0
E48
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
421
108
3
14
38
13
20
1
11
3004675, 030046750
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
422
108
1
6
5
1
44
1
38
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3004677, 030046770
1
4
0
0
0
0
E08
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
420
108
1
3
10
1
8
1
3
3004699, 030046990
1
4
0
0
0
0
E14
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
423
108
1
5
62
18
1
1
5
3005136, 030051360
2
9
0
0
1
2
E16
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
424
104
1
33
8
29
3
1
27
3005139, 030051390
1
4
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
425
104
1
23
32
1
14
1
25
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3005141, 030051410
3
11
0
0
0
0
T14
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
313
104
1
5
21
1
7
1
5
3005152, 030051520
1
4
0
0
0
0
E32
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
426
104
1
7
7
1
2
1
1
3005162, 030051620
3
11
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
427
104
1
3
9
1
45
1
3
3005732, 030057320
1
4
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
428
105
1
3
7
1
8
1
9
3005743, 030057430
2
9
0
0
0
0
E20
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
429
105
1
42
9
1
31
1
39
3005748, 030057480
1
4
0
0
0
0
E20
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
430
105
1
42
67
1
1
1
39
3005750, 030057500
1
4
0
0
0
0
E34
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
431
105
1
15
21
1
2
1
5
3005749, 030057490
3
11
0
0
0
0
E43
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
432
105
1
18
6
1
3
1
28
3005751, 030057510
3
11
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
168
105
1
21
21
1
6
1
7
3005752, 030057520
3
11
0
0
0
0
E11
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
433
105
1
1
18
1
3
1
22
3005756, 030057560
2
9
0
0
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
434
105
1
38
7
1
3
1
29
3005757, 030057570
1
4
0
0
0
0
E32
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
435
105
1
1
14
1
4
1
22
3005758, 030057580
3
11
0
0
0
0
E02
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
436
105
1
24
21
1
8
1
19
3005760, 030057600
2
9
0
0
0
0
E40
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
437
105
1
29
18
1
7
1
18
3005762, 030057620
1
4
0
0
0
0
M18
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
429
105
1
42
7
1
8
1
39
3005767, 030057670
1
5
0
0
0
0
T09
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
438
105
1
2
48
34
1
1
2
3006486, 030064860
1
4
0
0
0
0
E17
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
439
109
1
20
70
7
46
12
8
3006708, 030067080
10
33
0
0
0
0
E41
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
440
109
1
35
4
1
3
12
13
3006712, 030067120
8
30
0
0
0
0
E03
0
0
0
0
0
0
1
None
5
1
0
0
0
1
441
109
1
17
24
7
3
3
9
3006715, 030067150
2
9
0
0
0
0
E06
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
442
109
1
19
7
1
5
3
16
3006496, 030064960
3
11
0
0
0
0
E35
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
443
109
1
13
6
1
6
3
7

3006501, 030065010
3
11
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
444
109
1
8
14
1
18
3
3
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3006502, 030065020
1
4
0
0
0
0
E26
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
445
109
1
40
41
1
7
3
22
3006503, 030065030
1
4
0
0
0
0
E03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
446
109
1
3
37
1
3
3
7
3006508, 030065080
3
11
0
0
0
0
E10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
447
109
1
27
37
1
7
3
21
3007223, 030072230
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
448
88
1
25
21
1
5
3
25
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007226, 030072260
3
11
0
0
0
0
E29
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
270
88
1
31
38
1
11
3
16
3007229, 030072290
7
30
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
449
88
1
16
21
1
3
3
12
3007232, 030072320
1
4
0
0
0
0
E05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
449
88
1
16
21
1
8
3
12
3007234, 030072340
1
4
0
0
0
0
E11
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
450
88
1
1
69
1
1
3
32
3007238, 030072380
1
4
0
0
0
0
T11
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
451
88
1
1
15
7
1
3
1
3007025, 030070250
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
452
88
1
4
7
1
1
3
9
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007031, 030070310
3
12
0
0
0
0
E17
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
453
88
1
20
71
1
8
3
8
3007033, 030070330
4
15
0
0
0
0
RC3
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
454
88
1
34
20
1
5
3
16
3007245, 030072450
1
5
0
0
0
0
T05
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
455
88
1
4
61
15
7
3
4
3007798, 030077980
3
11
0
0
0
0
E35
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
456
89
1
21
38
1
6
3
7
3007800, 030078000
1
4
0
0
0
0
E37
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
457
89
1
2
7
1
1
3
2
3007802, 030078020
2
9
0
0
0
0
E13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
458
89
1
21
21
1
5
3
26
3007807, 030078070
7
21
0
0
0
0
E14
0
0
0
0
0
0
1
None
2
1
0
0
0
1
459
89
1
5
24
1
10
1
5
3007813, 030078130
1
5
0
0
0
0
T10
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
460
89
1
27
72
31
10
1
30
3007568, 030075680
1
5
0
0
0
0
T01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
14
89
1
3
61
16
4
1
3
3007571, 030075710
3
11
0
0
0
0
E07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
461
89
1
22
38
1
3
1
16
3007573, 030075730
2
9
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
323
89
1
22
7
1
5
1
16
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007816, 030078160
2
11
0
0
0
0
E32
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
172
89
1
7
7
1
2
1
1
3008278, 030082780
1
1
0
0
0
0
E24
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
462
90
1
40
22
5
7
1
22
3008280, 030082800
1
5
0
0
0
0
T03
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
463
90
1
17
19
11
3
1
13
3008286, 030082860
1
4
1
2
0
0
E38
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
464
90
1
38
48
4
1
1
29
3008287, 030082870
1
4
0
0
0
0
E20
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
465
90
1
42
37
1
5
1
18
3008291, 030082910
1
1
1
1
1
1
T07
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
466
90
1
31
29
5
1
1
16
3008299, 030082990
1
5
0
0
0
0
E01
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
467
90
1
3
29
1
2
1
9
3008305, 030083050
2
9
0
0
0
0
E40
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
468
90
1
29
6
1
4
1
6
3008307, 030083070
2
9
0
0
0
0
E36
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
469
90
1
4
5
1
6
1
3
3008304, 030083040
1
5
0
0
0
0
nan
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
470
90
1
27
36
26
30
1
21
Oops! <class 'pyodbc.ProgrammingError'> occurred.
Next entry.

3007335, 030073350
1
4
0
0
0
0
T13
0
0
0
0
0
0
1
None
nan
nan
nan
nan
nan
1
471
111
1
13
17
33
2
1
7

In [233]:
#results_df.info()

In [71]:
def upsert_exposure(exposure_number):
    cursor.execute("SELECT * FROM dbo.Exposure WHERE exposureNumber = ?", str(exposure_number))
    
    data = cursor.fetchone()
    
    if data is None:
        cursor.execute("INSERT INTO dbo.Exposure (exposureNumber) values(?)", str(exposure_number))
        idExposure = cursor.fetchone()[0]
        cnxn.commit()
        
        return idExposure
    
    return data[0]

In [166]:
def upsert_location(addressLocation, pointLocation):
    cursorLocation = cnxn.cursor()
    cursorLocation2 = cnxn.cursor()
    cursorLocation.execute("SELECT * FROM dbo.Location WHERE AddressLocation = ?", addressLocation)
    
    data = cursorLocation.fetchone()
    
    #print(addressLocation + " "+ pointLocation)
    
    
    if data is None and addressLocation is not None and pointLocation is not None:
        cursorLocation2.execute("INSERT INTO dbo.Location (AddressLocation, PointLocation) values(?,?)", addressLocation, pointLocation)
        
        #idLocation = 0
        cnxn.commit()
        
        cursorLocation.execute("SELECT * FROM dbo.Location WHERE AddressLocation = ?", addressLocation)
        idLocation = cursorLocation.fetchone()[0]
        
        cursorLocation2.close()
        cursorLocation.close()
        
        return idLocation
    
    return data[0]

In [73]:
def upsert_time(incidentDate):
    cursorTime = cnxn.cursor()
    cursorTime2 = cnxn.cursor()
    
    cursorTime.execute("SELECT * FROM dbo.TimeDim WHERE incidentDate = ?", incidentDate)
    #print(incidentDate)
    
    data = cursorTime.fetchone()
    
    
    if data is None:
        cursorTime2.execute("INSERT INTO dbo.TimeDim (incidentDate) values(?)", incidentDate)
        #print("inserting time: " + incidentDate)
            
        cnxn.commit()
        
        cursorTime.execute("SELECT * FROM dbo.TimeDim WHERE incidentDate = ?", incidentDate)
        idTime = cursorTime.fetchone()[0]
        
        cursorTime2.close()
        cursorTime.close()
        
        return idTime
    
    return data[0]

In [95]:
def upsert_city(city):
    cursorCity = cnxn.cursor()
    cursorCity2 = cnxn.cursor()
    
    cursorCity.execute("SELECT * FROM dbo.City WHERE CityName = ?", city)
    
    data = cursorCity.fetchone()
    cursorCity.close()
    
    #print(addressLocation + " "+ pointLocation)
    
    
    if data is None and city is not None:
        cursorCity2.execute("INSERT INTO dbo.City (CityName) values(?)", city)
        
        cnxn.commit()
        
        cursorCity2.execute("SELECT * FROM dbo.City WHERE CityName = ?", city)
        idCity = cursorCity2.fetchone()[0]
        
        cursorCity2.close()
        
        return idCity
    
    return data[0]

In [98]:
def upsert_station(stationArea, battalionNumber):
    cursorStation = cnxn.cursor()
    cursorStation2 = cnxn.cursor()
    
    cursorStation.execute("SELECT * FROM dbo.Station WHERE StationArea = ?", stationArea)
    
    data = cursorStation.fetchone()
    cursorStation.close()
    
    if data is None and stationArea is not None:
        cursorStation2.execute("INSERT INTO dbo.Station (StationArea, BattalionNumber) values(?,?)", stationArea, battalionNumber)
        
        cnxn.commit()
        
        cursorStation2.execute("SELECT * FROM dbo.Station WHERE StationArea = ?", stationArea)
        idStation = cursorStation2.fetchone()[0]
        
        cursorStation2.close()
        
        return idStation
    
    return data[0]

In [108]:
def upsert_situation(situationCode, situationDescription):
    cursorSituation = cnxn.cursor()
    cursorSituation2 = cnxn.cursor()
    
    cursorSituation.execute("SELECT * FROM dbo.Situation WHERE SituationCode = ?", situationCode)
    
    data = cursorSituation.fetchone()
    cursorSituation.close()
    if data is None and situationCode is not None and situationDescription is not None:
        cursorSituation2.execute("INSERT INTO dbo.Situation (SituationCode, SituationDescription) values(?,?)", situationCode, situationDescription)
        
        cnxn.commit()
        
        cursorSituation2.execute("SELECT * FROM dbo.Situation WHERE SituationCode = ?", situationCode)
        idSituation = cursorSituation2.fetchone()[0]
        
        cursorSituation2.close()
        
        return idSituation
    
    return data[0]

In [113]:
def upsert_action(actionCode, actionDescription):
    cursorAction = cnxn.cursor()
    cursorAction2 = cnxn.cursor()
    
    cursorAction.execute("SELECT * FROM dbo.Action WHERE ActionCode = ?", actionCode)
    
    data = cursorAction.fetchone()
    cursorAction.close()
    if data is None and actionCode is not None and actionDescription is not None:
        cursorAction2.execute("INSERT INTO dbo.Action (ActionCode, ActionDescription) values(?,?)", actionCode, actionDescription)
        
        cnxn.commit()
        
        cursorAction2.execute("SELECT * FROM dbo.Action WHERE ActionCode = ?", actionCode)
        idAction = cursorAction2.fetchone()[0]
        
        cursorAction2.close()
        
        return idAction
    
    return data[0]

In [120]:
def upsert_propertyuse(propertyUseCode, propertyUseDescription):
    cursorPropertyUse = cnxn.cursor()
    cursorPropertyUse2 = cnxn.cursor()
    
    cursorPropertyUse.execute("SELECT * FROM dbo.PropertyUse WHERE PropertyUseCode = ?", propertyUseCode)
    
    data = cursorPropertyUse.fetchone()
    cursorPropertyUse.close()
    if data is None and propertyUseCode is not None and propertyUseDescription is not None:
        cursorPropertyUse2.execute("INSERT INTO dbo.PropertyUse (PropertyUseCode, PropertyUseDescription) values(?,?)", propertyUseCode, propertyUseDescription)
        
        cnxn.commit()
        
        cursorPropertyUse2.execute("SELECT * FROM dbo.PropertyUse WHERE PropertyUseCode = ?", propertyUseCode)
        idPropertyUse = cursorPropertyUse2.fetchone()[0]
        
        cursorPropertyUse2.close()
        
        return idPropertyUse
    
    return data[0]

In [133]:
def upsert_firearea(fireAreaCode, fireAreaDescription):
    cursorFireArea = cnxn.cursor()
    cursorFireArea2 = cnxn.cursor()
    
    cursorFireArea.execute("SELECT * FROM dbo.FireArea WHERE fireAreaCode = ?", fireAreaCode)
    
    data = cursorFireArea.fetchone()
    cursorFireArea.close()
    if data is None and fireAreaCode is not None and fireAreaDescription is not None:
        cursorFireArea2.execute("INSERT INTO dbo.FireArea (FireAreaCode, FireAreaDescription) values(?,?)", fireAreaCode, fireAreaDescription)
        
        cnxn.commit()
        
        cursorFireArea2.execute("SELECT * FROM dbo.FireArea WHERE FireAreaCode = ?", fireAreaCode)
        idFireArea = cursorFireArea2.fetchone()[0]
        
        cursorFireArea2.close()
        
        return idFireArea
    
    return data[0]

In [146]:
def upsert_district(districtDescription):
    cursorDistrict = cnxn.cursor()
    cursorDistrict2 = cnxn.cursor()
    
    cursorDistrict.execute("SELECT * FROM dbo.District WHERE DistrictDescription = ?", districtDescription)
    
    data = cursorDistrict.fetchone()
    cursorDistrict.close()
    if data is None and districtDescription is not None:
        cursorDistrict2.execute("INSERT INTO dbo.District (DistrictDescription) values(?)", districtDescription)
        
        cnxn.commit()
        
        cursorDistrict2.execute("SELECT * FROM dbo.District WHERE DistrictDescription = ?", districtDescription)
        idDistrict = cursorDistrict2.fetchone()[0]
        
        cursorDistrict2.close()
        
        return idDistrict
    
    return data[0]

In [288]:
def upsert_facttable(incidentNumber,idIncident,suppressionUnits,suppresionPersonnel,emsUnits,emsPersonnel,otherUnits,otherPersonnel, firstUnit, estimatedPropertyLoss, estimatedContentLoss, fireFatalities, fireInjuries, civilianFatalities, civilianInjuries, numberOfAlarms, mutualAid, floorOfFireOrigin, numFloorsMinimumDamage, numFloorsSignificantDamage, numFloorsHeavyDamage, numFloorsExtremeDamage, idExposure,locationId,idTime,idCity,idStation,idSituation,idAction,idPropertyUse,idFireArea,idDistrict):
    cursorFire = cnxn.cursor()
    cursorFire2 = cnxn.cursor()
    
    cursorFire.execute("SELECT * FROM dbo.Fire WHERE IncidentNumber = ?", incidentNumber)
    
    print(str(incidentNumber) + ", " + str(idIncident))
    
    data = cursorFire.fetchone()
    
    
    print(suppressionUnits)
    if(np.isnan(float(suppressionUnits)) or suppressionUnits==""):
        suppressionUnits = 0
    
    print(suppresionPersonnel)
    if(np.isnan(float(suppresionPersonnel)) or suppresionPersonnel==""):
        suppresionPersonnel = 0
     
    print(emsUnits)
    if(np.isnan(float(emsUnits)) or emsUnits==""):
        emsUnits = 0
        
    print(emsPersonnel)
    if(np.isnan(float(emsPersonnel)) or emsPersonnel==""):
        emsPersonnel = 0
        
    print(otherUnits)
    if(np.isnan(float(otherUnits)) or otherUnits==""):
        otherUnits = 0
        
    print(otherPersonnel)
    if(otherPersonnel=="nan" or otherPersonnel==""):
        otherPersonnel = 0
    
    print(firstUnit)
    if(firstUnit is None or firstUnit==""):
        firstUnit = ""
        
    print(estimatedPropertyLoss)
    if(np.isnan(float(estimatedPropertyLoss)) or estimatedPropertyLoss==""):
        estimatedPropertyLoss = 0
        
    print(estimatedContentLoss)
    if(np.isnan(float(estimatedContentLoss)) or estimatedContentLoss==""):
        estimatedContentLoss = 0
    
    print(fireFatalities)
    if(np.isnan(float(fireFatalities)) or fireFatalities==""):
        fireFatalities = 0
        
    print(fireInjuries)
    if(np.isnan(float(fireInjuries)) or fireInjuries==""):
        fireInjuries = 0 
        
    print(civilianFatalities)
    if(np.isnan(float(civilianFatalities)) or civilianFatalities==""):
        civilianFatalities = 0 
    
    print(civilianInjuries)
    if(np.isnan(float(civilianInjuries)) or civilianInjuries==""):
        civilianInjuries = 0
        
    print(numberOfAlarms)
    if(np.isnan(float(numberOfAlarms)) or numberOfAlarms==""):
        numberOfAlarms = 0
    
    print(mutualAid)
    if(mutualAid is None or mutualAid==""):
        mutualAid = ""
    
    print(floorOfFireOrigin)
    if(np.isnan(float(floorOfFireOrigin)) or floorOfFireOrigin==""):
        floorOfFireOrigin = 0
        
    print(numFloorsMinimumDamage)
    if(np.isnan(float(numFloorsMinimumDamage)) or numFloorsMinimumDamage==""):
        numFloorsMinimumDamage = 0
        
    print(numFloorsSignificantDamage)
    if(np.isnan(float(numFloorsSignificantDamage)) or numFloorsSignificantDamage==""):
        numFloorsSignificantDamage = 0
        
    print(numFloorsHeavyDamage)
    if(np.isnan(float(numFloorsHeavyDamage)) or numFloorsHeavyDamage==""):
        numFloorsHeavyDamage = 0
        
    print(numFloorsExtremeDamage)
    if(np.isnan(float(numFloorsExtremeDamage)) or numFloorsExtremeDamage==""):
        numFloorsExtremeDamage  = 0
        
    print(idExposure)
    print(locationId)
    print(idTime)
    print(idCity)
    print(idStation)
    print(idSituation)
    print(idAction)
    print(idPropertyUse)
    print(idFireArea)
    print(idDistrict)
    
    cursorFire.close()
    if data is None:
        try:
            cursorFire2.execute("INSERT INTO dbo.Fire(IncidentNumber,ID,SuppressionUnits,SuppresionPersonnel, EMSUnits,EMSPersonnel, OtherUnits, OtherPersonnel, FirstUnitOnScene, EstimatedPropertyLoss,EstimatedContentLoss,FireFatalities, FireInjuries,CivilianFatalities, CivilianInjuries, NumberOfAlarms, MutualAid, FloorOfFireOrigin, NumberOfFloorsWithMinimumDamage, NumberOfFloorsWithSignificantDamage, NumberOfFloorsWithHeavyDamage, NumberOfFloorsWithExtremeDamage,idExposure,idLocation,idTime,idCity, idStation, idSituation,idAction,idPropertyUse,idFireArea,idDistrict) values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", incidentNumber,idIncident,suppressionUnits,suppresionPersonnel,emsUnits,emsPersonnel,otherUnits,otherPersonnel,firstUnit,estimatedPropertyLoss,estimatedContentLoss,fireFatalities,fireInjuries,civilianFatalities,civilianInjuries,numberOfAlarms,mutualAid,floorOfFireOrigin,numFloorsMinimumDamage,numFloorsSignificantDamage,numFloorsHeavyDamage,numFloorsExtremeDamage,idExposure,locationId,idTime,idCity,idStation,idSituation,idAction,idPropertyUse,idFireArea,idDistrict)
            cnxn.commit()
        except Exception as e:
            print("Oops!", e.__class__, "occurred.")
            print("Next entry.")
            print()
            
        cursorFire2.close()

In [171]:
cnxn.close()